<h1>Municipalities::Indexes#index</h1>
<p>Find me in app/views/municipalities/indexes/index.html.erb</p>

<%= link_to '新規登録する', new_municipality_path %>
<ul>
  <% @municipality.each do |m| %>
    <li>
      <%= m.name %>
    </li>
  <% end %>
</ul>
