<html>
<head>
<script type='text/javascripts' src='assets/drinks/jquery-1.11.3.min.js'></script>
<script type='/application/javascript' src='/assets/drinks/jquery.raty.js'></script>
</head>
<body>
  <%= render 'form' %>
  <% @reviews.each do |review| %>

    <script type='text/javascript'>
    $(function(){
      $.fn.raty.defaults.path = '/assets/';
      $('.review_total').raty({
        readOnly: true,
        score: function(){
          return $(this).attr('data-score');
          },
        });
      });
    </script>

    <div class='review_total' data-score = <%= review.param1 %>> </div>
    <p><%= review.body %></p>
    <% end %>
</body>
</html>
