img.tab-content{
width:100%;
height:100%;
}
img.haikei{
  width:100%;
  height:100%;
}
body{
  background:#fffafa;
  color:#555;
}
header{
  color:white;
}
/*.active p{
color:white;
}*/
#header_login{
  color:white;
}
/*.center-block{
  color:black;
}*/
.center{
  width:30%;
  float:left;
  margin: 15px;;
}
.center2{
  width:20%;
  float:left;
  margin: 25px;;
}

h2 .topic {
	position: relative;
	padding: 0 .5em .5em 2em;
	border-bottom: 1px solid #ccc;
}
h2 .topic::before,
h2::after {
	position: absolute;
	content: '';
	border-radius: 100%
}
h2 .topic::before {
	top: .2em;
	left: .2em;
	z-index: 2;
	width: 18px;
	height: 18px;
	background: rgba(150, 150, 150, .5);
}
h2 .topic::after {
	top: .7em;
	left: .7em;
	width: 13px;
	height: 13px;
	background: rgba(210, 210, 210, .5);
}
