@charset "UTF-8";

.content{
  min-height: 0px;
}

.page-top
{
  /*display: none;*/
  margin: 0;
  padding: 0;
}

.page-top p
{
  margin: 0;
  padding: 0;

  position: fixed;
  right: 16px;
  bottom: 16px;
}

@media screen and (min-width:1130px) {
  .move-page-top:hover{
    opacity: 0.85;
  }
}
