@charset "UTF-8";

.content{
  min-height: 0px;
}

.page-top
{
  /*display: none;*/
  margin: 0;
  padding: 0;
}

.page-top p
{
  margin: 0;
  padding: 0;

  position: fixed;
  right: 16px;
  bottom: 16px;
}

.event {
  clear: both;
  width: 100%;
  height: 50px;
}

.event-info {
  background-color: white;
  margin: 50px;
}

.news-box-img {
  margin-top: 25px;
  float: left;
}

.news-box-text {
  width: 350px;
  margin: 10px;
  float: right;
}

@media screen and (min-width:1130px) {
  .move-page-top:hover{
    opacity: 0.85;
  }
}
