body{
  margin-right: auto;
  margin-left : auto;
}

header {
  height: 100px;
  width: 100%;
	background-color: rgba(120, 30, 30, 0.1);
  background-image: url(header2.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
	top: -8px;
	right:8px;
}

#site-box-user-mypage {
	width : 752px;
	margin-right: auto;
	margin-left : auto;
  padding-top: 20px;
}

#user_name{
	font-size: 150%;
	width	: 50%;
	float: left;
}

#top {
  width:100%;
  height:40px;
}

#profile{
  width:100%;
  height:200px;
  background-color: rgba(140, 50, 50, 0.2);
}

#hensyu{
  text-align: right;
  bottom: 0;
}

#face{
  width:40%;
  height:140px;
  float:left;
  text-align: center;
  padding-top: 30px;
}

#profile_infomation{
  width:60%;
  height:110px;
  float:right;
  text-align: left;
  padding-top: 50px;
}


#Favorite{
  width:100%;
  height:210px;
  padding-top: 20px;
}

#F_osake{
  width:48%;
  height:210px;
  float:left;
}

#F_mise{
  width:48%;
  height:210px;
  float:right;
}

#mise, #osake10{
  width:100%;
  height:20px;
  font-size: 120%;
}

#F_osake_infomation,#F_mise_infomation{
  width: 100%;
  height:190px;
  background-color: rgba(140, 50, 50, 0.2);
  overflow: auto;
}


#Review{
  width:100%;
  height:300px;
  padding-top: 20px;
}

#R_osake{
  width:48%;
  height:290px;
  float:left;
}

#R_mise{
  width:48%;
  height:300px;
  float:right;
}

#R_osake_title, #R_mise_title{
  width:100%;
  height:20px;
  font-size: 120%;
}

#R_osake_infomation, #R_mise_infomation{
  width:100%;
  height:270px;
  background-color: rgba(140, 50, 50, 0.2);
  overflow: auto;
}

#sonota{
  width:100%;
  height: 20px;
  text-align: center;
}

#title_name2{
	text-align: center;
	width:100%;
	font-size: 200%;
}


#all3{
  width:100%;
  height: 300px;
}

#left3{
	float:left;
	width:50%;
}

#right3{
	float: left;
	width:50%;
}

#link-user-delete {
  text-align: right;
}

.complete{
	float:right;
}

ul li {
	list-style: none;
	margin-top: 20px;
}

.page-top{
  margin: 0;
  padding: 0;
}

.page-top p
{
  margin: 0;
  padding: 0;
  position: fixed;
  right: 16px;
  bottom: 16px;
}

@media screen and (min-width:1130px) {
  .move-page-top:hover{
    opacity: 0.85;
  }
}

#Copyright{
  text-align: center;
  color:#000000;
}
