<h1> stores/contents/index.html.erb </h1>

<%= link_to('新しい画像を追加する', action: :new) %>

<% @contents.each do |c| %>
  <% if c.image? %>
    <div>
      <%= image_tag c.image.url %>
    </div>
  <% end %>
  <div>
    <p>
      <%= c.description %>
    </p>
  </div>
  <div>
    <% if c.top? %>
      メイン
    <% else %>
      サブ
    <% end %>
  </div>
  <%= button_to '削除', { action: :destroy, id: c.id }, confirm: '本当に削除しますか？', method: :delete %>
<% end %>
